html {
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

html, body {
  height: 100%;
}

/* Navbar */

.navbar {
background-color: #4169e1;
}

.navbar-styles{
padding: 0.5% 0;
}

.logo {
    font-size: 2em;
    font-weight: 300;
    color: white;
    text-align: left;
}

.small-print {
    font-size: 0.4em;
}

.nav-link {
    font-weight: 300;
    color: white;
    font-size: 1rem;
}

    .nav-link:hover {
        color: black;
    }

.nav-active {
    font-weight: 400;
}

.menu-button {
    color: black;
    border-color: black;
    border-width: 1px;
}

/* Homepage */

#main {
    background-color: #efeeee;
    color: #1c3d5a;
}

.home-wrap {
    min-height: 100vh;
    flex: 1;
}

body {
    background-color: #efeeee;
}

.home-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin: 0 5% 0 8%;
}

.inner-flex {
flex-basis: 50%;
}

.home-flex-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin: 10% 0 5% 0;
}

.homepage-img {
    max-width: 40vw;
    margin: 10% 0 5% 0;
}

.home-title {
    font-family: 'Playfair Display', serif;
    font-size: 4em;
}

.sub-title {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
}

.home-email {
    font-size: 1.2em;
    font-weight: 300;
    margin-right: 3%;
    display: none;
}

.email-input {
    min-height: 4.5vh;
    border: 1px solid black;
    border-radius: 10px;
    width: 45%;
    padding-left: 0.5em;
}

.email-input::placeholder {
    font-size: 1.1em;
    padding: 1em 0;
    color: black;
}

.home-btn {
    background-color: #4169e0;
    margin-left: 2%;
    border: 1px solid #4169e0;
    border-radius: 10px;
    color: #efeeee;
    padding: 1% 1.5%;
}
    .home-btn:hover {
        background-color: #122a73;
        color: #efeeee;
    }

/* login / signup */

#login {
    background-color: #e0e2ef;
    height: 100vh;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#e0e2ef;
    margin-top: 10%;
}

.login-inner {
    width: 40%;
}

.login-title {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
}

.align-message {
    text-align: left;
    color: red;
}

.login-label {
    margin-top: 5%;
}

.login-btn {
    border: 3px solid #4169e0;
    width: 100%;
    background-color: #4169e0;
    color: #efeeee;
    margin-top: 10%;
}

.login-btn:hover {
    background-color: #122a73;
    color: #efeeee;
}

/* list page */
.whole-page-container {
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    min-height: 100vh;
}
.content-wrap {
  flex: 1;
}

.title-row {
    display: flex;
    flex-direction: row;
    gap: 5em;
    margin: 3% 5%;
}

.title-row-sub {
    flex-basis: 50%;
}

.today-list: {
    width: 80%;
}

.today-organise {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.today-inner{
    flex-basis: 25%;
}

.list-col {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 3%;
    margin-left: 25%;
}

.list-group-item {
    border-width: 1px;
    border-color: black;
}

.list-titles {
    background-color: #ffa584;
    color: black;
}
    .list-titles:hover {
    background-color: #cc6540;
    }

.completed-today {
    margin-bottom: 0;
    background-color: #91b9e6;
}

.list-head-on-own{
    background-color: #ffa584;
}
    .list-head-on-own:hover {
    background-color: #ffa584;
    }

.divider {
    background-color: #4169e0;
    height: 10vh;
    border-bottom: 1px solid black;
}

.second-list-titles {
    border-width: 1px;
    border-color: black;
    background-color: #ffa584;
}

.list-group-item-action {
    background-color: #ffa584;
}

.list-group-item-action:hover {
    background-color: #cc6540;
}

.completed-list {
    background-color: #f5f5f5;
    margin-bottom: 0;
}

.second-listings {
font-size: 2em;
}

.bigger-font {
    font-size: 1.2em;
}

.black-icon {
    color: black;
}

.list-item-flex {
    display: flex;
    flex-direction: row;
}

.inner-item-flex {
    flex-basis: 30%;
}
/* footer */

.footer {
    text-align: center;
    color: #4169e0;
    position: relative;
}

